﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="NewEmployee.aspx.cs" Inherits="GoodReadsTwo.NewEmployee" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <telerik:RadLabel ID="RadLabel1" runat="server" Text="Email"></telerik:RadLabel><br />
    <telerik:RadTextBox ID="RadTextBox1" runat="server"></telerik:RadTextBox><br />
    <telerik:RadLabel ID="RadLabel2" runat="server" Text="Role"></telerik:RadLabel><br />
    <telerik:RadDropDownList ID="RadDropDownList1" runat="server"></telerik:RadDropDownList><br />
    <telerik:RadLabel ID="RadLabel3" runat="server" Text="First Name"></telerik:RadLabel><br />
    <telerik:RadTextBox ID="RadTextBox2" runat="server"></telerik:RadTextBox><br />
    <telerik:RadLabel ID="RadLabel4" runat="server" Text="last Name"></telerik:RadLabel><br />
    <telerik:RadTextBox ID="RadTextBox3" runat="server"></telerik:RadTextBox><br />
    <telerik:RadLabel ID="RadLabel5" runat="server" Text="Date of birth"></telerik:RadLabel><br />
    <telerik:RadDatePicker ID="RadDatePicker1" runat="server"></telerik:RadDatePicker><br />
    <telerik:RadButton ID="RadButton1" runat="server" Text="Add"></telerik:RadButton>
</asp:Content>
