﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Roles.aspx.cs" Inherits="GoodReadsTwo.Roles" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <telerik:RadLabel ID="RadLabel1" runat="server"></telerik:RadLabel><br />
    <telerik:RadTextBox ID="RadTextBox1" runat="server"></telerik:RadTextBox><br />
    <telerik:RadButton ID="RadButton1" runat="server" Text="Add Role"></telerik:RadButton>
</asp:Content>
