﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Tags.aspx.cs" Inherits="GoodReadsTwo.Tags" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <telerik:RadCheckBoxList ID="RadCheckBoxList1" runat="server" Columns="2" Direction="Horizontal" AutoPostBack="false"></telerik:RadCheckBoxList><br />
    <telerik:RadDropDownList ID="RadDropDownList1" runat="server"></telerik:RadDropDownList><br />
    <telerik:RadButton ID="RadButton1" runat="server" Text="RadButton"></telerik:RadButton>
</asp:Content>
