﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Test.aspx.cs" Inherits="GoodReadsTwo.Test" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    
    <uc1:TestControl ID="TestControl" runat="server" />
    
</asp:Content>
